.card {
  color: #ffffff;
  background-color: #255894;
  border-radius: 4px 4px 0 0;
  padding: 12px 24px;
}

.card h1,
.card h2,
.card p {
  margin: 0;
}

.list {
  line-height: 3ex;
  min-height: 18ex;
}

.item {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}

.item .price {
}

.card hr {
  border: 1px solid white;
}

.button {
  border: none;
  color: #ffffff;
  background-color: #0c305a;
  border-radius: 4px;
  padding: 0px 12px;
}

.sum {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}

.sum h2 {
  grid-column-start: 3;
}
